GOOGLE_SHEETS_CLIENT_EMAIL=
GOOGLE_SHEETS_PRIVATE_KEY=
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_REGISTER_SHEET_NAME=Kayitlar
GOOGLE_SHEETS_RESULTS_SHEET_NAME=TestSonuclari
GOOGLE_SHEETS_WEAKNESSES_SHEET_NAME=OgrenciEksikleri
GOOGLE_SHEETS_PERSONAL_TESTS_SHEET_NAME=KisiselTestler
JWT_SECRET=
